doctype html
html(ng-app='myApp', lang="fr")
    head
    body(class='{{ currentClassName }}')
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js")

        script(src='/frontend/js/controller/index.js')
        script(src='/frontend/js/service/serviceXhr.js')
        include ../html/index.html
        link(rel='stylesheet', href='/frontend/css/index.css')

